version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
    labels:
      - "security"
    commit-message:
      prefix: "chore(deps):"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    labels:
      - "ci"
    commit-message:
      prefix: "chore(ci):"
